<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>⚙️ Admin Panel</h2>
    <a href="/logout">Đăng xuất</a>

    <h3>➕ Thêm Acc</h3>
    <form method="post">
        <input name="game" placeholder="Tên game">
        <input name="rank" placeholder="Rank">
        <input name="price" placeholder="Giá">
        <input name="user" placeholder="User acc">
        <input name="pass" placeholder="Pass acc">
        <button class="btn">Thêm</button>
    </form>

    <h3>📦 Danh sách acc</h3>
    {% for a in accs %}
    <div class="admin-box">
        {{ a[1] }} | {{ a[3] }}đ
        <a href="/delete/{{ a[0] }}">❌ Xoá</a>
    </div>
    {% endfor %}

    <h3>🧾 Đơn hàng</h3>
    {% for o in orders %}
    <div class="admin-box">
        {{ o[2] }} - {{ o[3] }}
        {% if o[3] == "PENDING" %}
            <a href="/confirm/{{ o[0] }}">✔️ Xác nhận</a>
        {% endif %}
    </div>
    {% endfor %}
</div>

</body>
</html>
