<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Shop Acc Game</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h1>🎮 SHOP ACC GAME SHACOR</h1>

    {% for a in accs %}
    <div class="card">
        <div>
            <b>{{ a[1] }}</b><br>
            Rank: {{ a[2] }}
        </div>
        <div>
            <span class="price">{{ a[3] }}đ</span><br>
            <a class="btn" href="/buy/{{ a[0] }}">Mua</a>
        </div>
    </div>
    {% endfor %}
</div>

</body>
</html>
